@import "background";

#app {
  @apply min-h-screen max-h-screen dark:bg-black;
}

body {
  @apply overflow-y-hidden;
}

.container {
  h1 {
    @apply text-5xl mb-10 font-bold;
  }
}

.md-body {
  strong {
    @apply dark:text-white dark:text-opacity-100;
  }

  p {
    @apply dark:text-white dark:text-opacity-80 mb-4;
    line-height: 1.45;
    font-size: 18px;
  }

  a:not(.projects) {
    text-decoration: none;
    transition: 150ms all ease-in-out;
  }

  .router-link-active.router-link-exact-active {
    @apply dark:text-white;
  }

  a:not(.projects) {
    @apply text-blue-700 dark:text-blue-300 border-b border-transparent font-bold;
  }

  a:not(.projects):hover {
    @apply dark:text-white dark:border-white;
    background-color: unset;
    border-radius: unset;
  }

  hr {
    margin: 2rem auto;
    width: 50%;
  }

  h2 {
    @apply mb-3;

    &:nth-child(n+3) {
      @apply mt-12;
    }
  }

  ul, ol {
    @apply dark:text-white dark:text-opacity-80 space-y-2;
  }
}

main, .nav__container {
  @apply flex justify-between;
  padding: 2rem 0;
}

main > .container,
.nav__container {
  max-width: 50rem;
  margin: auto;
}

h1, h2, h3, h4, h5, h6 {
  @apply dark:text-white;
}



.nav__wrapper {
  @apply justify-end dark:text-white flex items-center;
  a {
    margin-right: 1rem;
  }
}

@media only screen and (max-width: 768px) {
  main, .nav__container {
    padding: 2rem;
  }
}
