.section-header {
  @apply text-3xl text-center font-medium;
  @apply mt-5 py-5 px-5;

  @screen md {
    @apply text-4xl
  }

  span {
    background-image: linear-gradient(120deg, #28ACE1 0%, #22EFF2 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.6rem;
    background-position: 0 78%;
  }
}

section {
  @apply p-4;

  &#experiences {
    height: 30rem;
  }
}

p {
  margin-bottom: 1.5rem !important;
}

.nav-link {
  @apply group flex items-center px-2 py-2 text-base font-medium rounded-md;

  & svg {
    @apply mr-4 flex-shrink-0 h-6 w-6;
  }

  &:not(&__active) svg {
    @apply text-gray-400 group-hover:text-gray-300;
  }

  &__active svg {
    @apply text-gray-300;
  }

  &:not(&__active) {
    @apply text-gray-300 hover:bg-gray-700 hover:text-white;
  }

  &__active {
    @apply bg-gray-900 text-white;
  }
}
