---
import Layout from '../layouts/Layout.astro';
---

<Layout title="404 | Oyster Lee">
  <div class="h-full flex flex-col items-center justify-center">
    <h1 class="text-[160px] font-bold">404</h1>
    <p class="-mt-6">Are you lost?</p>
    <a
      href="/"
      class="mt-4 rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
    >
      Go back home
    </a>
  </div>
</Layout>
