.container {
  h1 {
    @apply text-5xl mb-10 font-bold;
  }
}

.md-body {
  h1 {
    @apply text-3xl font-bold;
  }

  h2 {
    @apply text-2xl font-bold;
  }

  h3 {
    @apply text-xl font-bold;
  }

  h4 {
    @apply text-base font-bold;
  }

  h5 {
    @apply text-sm font-bold;
  }

  h6 {
    @apply text-xs font-bold;
  }

  strong {
    @apply dark:text-white;
  }

  p {
    @apply dark:text-slate-300 text-base mb-4;
  }

  a:not(.projects) {
    text-decoration: none;
    transition: 150ms all ease-in-out;
  }

  .router-link-active.router-link-exact-active {
    @apply dark:text-white;
  }

  a:not(.projects) {
    @apply text-sky-700 dark:text-sky-300 border-b border-transparent font-bold;
  }

  a:not(.projects):hover {
    @apply dark:text-white dark:border-white;
    background-color: unset;
    border-radius: unset;
  }

  hr {
    margin: 2rem auto;
    width: 50%;
  }

  h2 {
    @apply mb-3;

    &:nth-child(n+3) {
      @apply mt-12;
    }
  }

  p:has(+ ol),
  p:has(+ ul) {
    @apply mb-0
  }

  ul, ol {
    @apply dark:text-slate-300 space-y-2 p-4;
  }

  ul {
    @apply list-disc
  }

  ol {
    @apply list-decimal
  }

  h1 > a:not(.projects),
  h2 > a:not(.projects),
  h3 > a:not(.projects),
  h4 > a:not(.projects),
  h5 > a:not(.projects),
  h6 > a:not(.projects) {
    @apply dark:text-inherit border-none
  }
}

h1, h2, h3, h4, h5, h6 {
  @apply dark:text-white;
}
